---
import AppLayout from '../../layouts/AppLayout.astro';
import { CategoryRulesPage } from '../../components/pages';
---

<AppLayout title="Category Rules - Settings">
  <div class="container mx-auto py-8 max-w-4xl">
    <CategoryRulesPage client:only="react" />
  </div>
</AppLayout>
